@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100%;
  text-align: center;
  font-family: font('poppins');
  font-size: 18px;

  @include respond-to('laptop') {
    text-align: left;
  }
}

img {
  max-width: 100%;
  object-fit: cover;

  @include respond-to('tablet') {
    max-width: 80%;
  }
}

a {
  text-decoration: none;
  color: color('pale-cyan');
}

ul {
  list-style-type: none;

  @include respond-to('laptop') {
    width: 30%;
    margin-right: 0px;
  }
}

li {
  margin-bottom: 20px;
}

p {
  font-family: font('opensans');
}
